@import "../../../style/mixins";

.travelblock-wrapper {
  position: relative;
  width: calc((100% - 10px) / 2);
  @media (min-width: 600px) {
    width: 178px;
  }
  flex-shrink: 0;

  .block {
    width: 100%;
    position: relative;
    z-index: 5;
    margin-bottom: 10px;

    .img-rect {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 5px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
      }
    }

    .name {
      color: color(black);
      font: {
        family: var(--font-text);
        weight: 500;
        size: 16px;
      }
      line-height: 120%;
      word-break: keep-all;
      word-wrap: break-word;
      margin: {
        top: 8px;
        left: 2px;
      }
      @media (max-width: 400px) {
        font-size: 4vw;
      }
    }

    .district {
      color: #7d7d7d;
      font: {
        family: var(--font-text);
        weight: 400;
        size: 12px;
      }
      margin: {
        top: 7px;
        left: 2px;
      }
      @media (max-width: 400px) {
        font-size: 2.9vw;
      }
    }
  }

  .click-area {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
