@import "@style/font.scss";

$kakao-yellow: #fddc3f;
$kakao-brown: #3a2929;

.kakao-btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  border-radius: 6px;
  width: 80%;
  margin-bottom: 23px;
  background: $kakao-yellow;

  img {
    position: absolute;
    left: 16px;
    top: 18px;
    width: 21px;
    height: 20px;
  }

  p {
    color: $kakao-brown;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
