@import "../../../style/mixins";

.ticket-verification-page-wrapper {
  position: relative;
  width: 100%;
  height: calc(100svh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .middle-wrapper {
    position: relative;
    width: calc(100% - 70px);
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
      label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      input {
        display: none;
      }

      svg {
        position: absolute;
      }
    }
  }

  .more-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: {
      right: 8px;
      bottom: 10px;
    }
    p {
      color: color(grey-text);
      font: {
        family: var(--font-text);
        size: 12px;
        weight: 500;
      }
      margin-left: 5px;
    }
  }

  .image-rect {
    width: 320px;
    height: 240px;
    border-radius: 10px;
    background-color: color(grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    p {
      color: color(grey-text);
      font: {
        family: var(--font-text);
        size: 14px;
        weight: 500;
      }
      margin-top: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #444;
      border-radius: 50%;
      right: 15px;
      bottom: 13px;

      svg {
        width: 20px;
      }
    }
  }

  .des-text {
    padding: 0 8px;
    color: color(grey-text);
    font: {
      family: var(--font-text);
      size: 14px;
      weight: 500;
    }
    line-height: 120%;
    margin-top: 25px;
  }

  .error-text {
    position: absolute;
    top: 40px;
    left: 15px;
    display: flex;

    p {
      text-align: left;
      color: color(red);
      font: {
        family: var(--font-text);
        size: 12px;
        weight: 500;
      }
      margin: {
        left: 12px;
        top: 3px;
      }
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    width: calc(100% - 50px);
    height: 52px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: {
      family: var(--font-text);
      size: 18px;
      weight: 600;
    }
    color: color(black);
    background-color: color(main-yellow);

    &.disabled {
      color: color(grey-text);
      background-color: color(grey);
    }
  }
}

.completed-menu-wrapper {
  width: 100%;
  height: calc(100svh - 160px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: 36px;
    height: 36px;
  }

  p {
    color: color(black);
    font: {
      family: var(--font-text);
      size: 14px;
      weight: 500;
    }
    margin-top: 12px;
  }
}
