@import "../../../style/mixins";

.travelmenu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: {
    bottom: 30px;
  }

  .top-section {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: color(white);

    &.fade-in {
      animation: show 0.8s;
      @keyframes show {
        from {
          opacity: 0;
          margin-top: -152px;
        }
        to {
          opacity: 1;
          margin-top: 0px;
        }
      }
    }
    &.fade-out {
      margin-top: -152px;
      animation: disappear 0.5s;
      @keyframes disappear {
        from {
          opacity: 1;
          margin-top: 0px;
        }
        to {
          opacity: 0;
          margin-top: -152px;
        }
      }
    }
  }

  .category-bar {
    width: calc(100% - 23px);
    height: 50px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    align-items: center;
    position: relative;
    margin: {
      left: 23px;
    }
    .rect {
      height: 32px;
      border-radius: 16px;
      display: flex;
      padding: 0 16px;
      justify-content: center;
      align-items: center;

      background-color: color(white);
      color: color(grey-text);
      font: {
        family: var(--font-text);
        size: 14px;
        weight: 400;
      }

      &.selected {
        background-color: color(main-yellow);
        color: color(black);
        font: {
          weight: 600;
        }
      }
    }
  }

  .district-bar {
    width: calc(100% - 23px);
    height: 42px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    align-items: flex-start;
    margin: {
      left: 23px;
    }

    svg {
      width: 10px;
      margin-left: 10px;
    }

    .travelsearch-filter-rect {
      margin-bottom: 0;
    }
  }

  .block-container {
    width: calc(100% - 44px);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 160px;

    .empty {
      height: calc(100vh - 200px);
    }
  }
}

.page-last-item-ref-rect {
  position: relative;
  width: calc((100% - 10px) / 2);
  @media (min-width: 600px) {
    width: 178px;
  }
  flex-shrink: 0;
  .travelblock-wrapper {
    position: relative;
    width: 100%;
  }
}
