@function color($color-name) {
  @return var(--color-#{$color-name});
}

.travelmenu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: {
    bottom: 30px;
  }
  .category-bar {
    width: calc(100% - 23px);
    height: 50px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    align-items: center;
    position: relative;
    margin: {
      left: 23px;
    }
    .rect {
      height: 32px;
      border-radius: 16px;
      display: flex;
      padding: 0 16px;
      justify-content: center;
      align-items: center;

      background-color: color(white);
      color: color(grey-text);
      font: {
        family: var(--font-text);
        size: 14px;
        weight: 400;
      }

      &.selected {
        background-color: color(main-yellow);
        color: color(black);
        font: {
          weight: 600;
        }
      }
    }
  }

  .district-bar {
    width: calc(100% - 23px);
    height: 50px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    align-items: center;
    margin: {
      left: 23px;
    }

    svg {
      width: 10px;
      margin-left: 10px;
    }
  }

  .block-container {
    width: calc(100% - 44px);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 7px;
  }
}
