$main-yellow: var(--color-main-yellow);
@import "../../../../../style/mixins";

.interest-form-container {
  margin-top: 16px;
  width: 100%;

  .title {
    @include font-style(--font-title, 20px, var(--color-black), 500);
    text-align: start;
    width: 85%;
    margin-left: 7%;
  }

  .form-container {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .count {
      margin-left: 7%;
      @include font-style(--font-text, 14px, var(--color-black), 500);
    }
  }

  .interest-container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    h2 {
      margin-bottom: 12px;
      margin-left: 10px;
      margin-left: 7%;
      @include font-style(--font-text, 14px, #aeaeae, 500);
    }

    // interest btn 쭉 나열된 곳
    .flex {
      display: flex;
      white-space: nowrap;
      overflow: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }

    .interest-btn {
      display: flex;
      padding: 8px 16px;
      width: fit-content;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: #f9f9f9;

      margin-left: 12px;
      margin-bottom: 12px;

      @include font-style(--font-text, 14px, var(--color-black), 500);
      text-align: center;
    }

    #active {
      background: $main-yellow;
    }
  }
}
