.type-form-container {
  margin-top: 16px;
  width: 85%;

  .title {
    color: #000;
    font: {
      family: var(--font-title);
      size: 20px;
      style: normal;
      weight: 500;
    }
    text-align: start;
  }

  .form-container {
    margin-top: 180px;
    width: 100%;

    display: flex;
  }
}
