@import "../../../../../style/mixins";

$main-yellow: var(--color-main-yellow);

@mixin grey-title {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 38px;
  text-align: start;

  width: 57px;
  margin-right: 20px;
  @include font-style(--font-text, 16px, #aeaeae, 500);
}

@mixin gender-btn-style {
  border: none;
  display: flex;
  width: fit-content;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #ddd;

  text-align: center;
  @include font-style(--font-text, 18px, var(--color-black), 500);
}

@mixin active-btn-style() {
  display: flex;
  width: fit-content;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: none;
  background: $main-yellow;
  @include font-style(--font-text, 18px, var(--color-black), 500);
}

.basic-form-container {
  margin-top: 16px;
  width: 85%;

  .title {
    @include font-style(--font-title, 20px, var(--color-black), 500);
    text-align: start;
    width: 85%;
  }

  .form-container {
    margin-top: 180px;
    width: 100%;

    .gender-form-container {
      display: flex;
      margin-bottom: 30px;
      p {
        @include grey-title();
      }
      .buttons-box-container {
        .gender-btn {
          &:hover {
            cursor: pointer;
          }
          margin-bottom: 16px;
          @include gender-btn-style();
        }
        #active {
          @include active-btn-style();
        }
      }
    }

    .age-form-container {
      display: flex;
      p {
        @include grey-title();
      }

      //⭐

      .MuiInputBase-root {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        .MuiInputBase-input {
          &:hover {
            cursor: pointer;
          }

          @include font-style(--font-text, 18px, #b1b1b1, 500);
          padding: 0;
          border: none;
          border-bottom: 1px solid #ddd;
          width: 200px;
          height: 34px;
        }
        .MuiOutlinedInput-notchedOutline {
          border: none;
        }
      }

      .active-text {
        .MuiInputBase-root {
          .MuiInputBase-input {
            color: black;
          }
        }
      }

      .MuiFormControl-root:first-child {
        margin-right: 12px;

        @include narrowMobile {
          margin-bottom: 12px;
        }
      }
    }

    #alert {
      margin-left: 75px;
      margin-top: 3px;
      text-align: start;
      @include font-style(--font-text, 12px, var(--color-red), 500);
    }
  }
}
