@import "../../../style/mixins";

.kuddyspicksearchbar-wrapper {
  width: 100%;
  @media (min-width: 600px) {
    width: 600px;
  }
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;

  svg {
    width: 24px;
    margin-left: 20px;
    cursor: pointer;
  }
}

.kuddyspicksearchbar-rect {
  width: calc(100% - 80px);
  height: 40px;
  border-radius: 20px;
  border: 1px solid color(grey-line);
  display: flex;
  align-items: center;
  position: relative;
  background-color: color(white);
  margin: {
    left: 16px;
    right: 20px;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    input {
      width: 90%;
      height: 26px;
      background-color: transparent;
      border: 0;
      outline: 0;
      margin-left: 15px;
      color: color(black);
      font: {
        family: var(--font-text);
        size: 14px;
        weight: 400;
      }
      &::placeholder {
        color: color(grey-line);
        font-weight: 500;
      }
    }

    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      outline: 0;
      margin-right: 16px;

      svg {
        margin-left: 0;
        width: 18px;
        height: 18px;
      }
    }
  }
}

.kuddyspicksearchbar-text {
  width: calc(100% - 27px);
  display: flex;
  justify-content: flex-start;
  margin: {
    left: 27px;
    top: 12px;
    bottom: 5px;
  }
  color: color(grey-text);
  font: {
    family: var(--font-text);
    size: 14px;
    weight: 400;
  }
}
