.custom-event-btn-style {
  position: fixed;
  bottom: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 85%;
  height: 52px;

  border-radius: 10px;
  background: #eee;
  color: #b1b1b1;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;

  border: none;
}

#custom-event-btn-active {
  background: #fff49b;
  color: #000;
}
