.kuddyspickmenu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty {
  width: 100%;
  height: calc(100svh - 130px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .no-result {
    color: #000;
    text-align: center;
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 500;
  }
  p {
    color: var(--color-grey-text);
    text-align: center;
    font: {
      family: var(--font-text);
      size: 14px;
      weight: 500;
    }
    margin-top: 12px;
  }
}
