@import "../../../style/mixins";

.comment-item-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;

  &.indent {
    padding-left: 42px;
  }
}

.comment-profile {
  img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    object-fit: cover;
    cursor: pointer;
  }
}

.comment-content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.comment-content-top {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 17px;

  .comment-nickname {
    color: color(black);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.comment-content-body {
  color: color(black);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.comment-content-bottom {
  display: flex;
  align-items: center;
  gap: 8px;

  .comment-date-time {
    color: #d0d0d0;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .comment-reply-btn {
    color: var(--grey-text, #b1b1b1);
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    cursor: pointer;
  }
}
