@import "../../../style/mixins";

.comment-item-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 5px;

  &.indent {
    padding-left: 42px;
  }
}

#selected-comment {
  border-radius: 7px;
  background-color: #fffcd4;
}

.comment-profile {
  img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    object-fit: cover;
    cursor: pointer;
  }

  &.deleted {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: color(grey);
  }
}

.comment-content-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;

  &.deleted {
    height: 30px;
    justify-content: center;
    align-items: center;
    @include font-style(--font-text, 14px, color(grey-text), 400);
  }
}

.comment-content-top {
  display: flex;
  width: 100%;
  height: 17px;
  justify-content: space-between;
  align-items: center;
}

.comment-profile-info {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 100%;

  .comment-nickname {
    @include font-style(--font-text, 14px, color(black), 600);
  }
}

.comment-content-body {
  @include font-style(--font-text, 14px, color(black), 400);
}

.comment-content-bottom {
  display: flex;
  align-items: center;
  gap: 8px;

  .comment-date-time {
    @include font-style(--font-text, 11px, #d0d0d0, 400);
  }

  .comment-reply-btn {
    @include font-style(--font-text, 12px, color(grey-text), 600);
    cursor: pointer;
  }
}
