@import "../../../style/mixins";

$kakao-yellow: #fee500;
$kakao-brown: #3a2929;

.kakao-btn {
  width: 80%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  border-radius: 6px;
  margin-bottom: 23px;
  background: $kakao-yellow;

  svg {
    position: absolute;
    left: 16px;
    top: 18px;
    width: 21px;
    height: 20px;
  }

  p {
    @include font-style(--font-roboto, 16px, $kakao-brown, 500);
  }
}
