@import "../../../style/mixins";

$black: var(--color-black);
$grey: var(--color-grey-text);
$grey-line: var(--color-grey-line);
$inter: var(--font-text);

@mixin alarmItem {
  height: 89px;
  margin-top: 8px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    text-align: start;
  }
}

.read-alarm-item {
  &:hover {
    cursor: pointer;
  }

  @include alarmItem();

  .type {
    @include font-style($inter, 15px, $grey-line, 600);
  }
  .content {
    @include font-style($inter, 14px, $grey-line, 400);
  }
  .date {
    @include font-style($inter, 12px, $grey-line, 400);
  }
}

.unread-alarm-item {
  &:hover {
    cursor: pointer;
  }

  @include alarmItem();

  .type {
    @include font-style($inter, 15px, $black, 600);
  }
  .content {
    @include font-style($inter, 14px, $black, 400);
  }
  .date {
    @include font-style($inter, 12px, $grey, 400);
  }
}
