.kuddyspicktravelblock-wrapper {
  width: calc(100% - 50px);
  display: flex;
  position: relative;

  .pick-icon-container {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 2px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
