.photo-slide-container {
  width: 100%;
  margin-top: 0px;
}

.photo-slide {
  width: 166px !important;
  height: 166px;

  img {
    width: 166px;
    height: 166px;

    border-radius: 10px;
    object-fit: cover;
  }
}
