@import "../../../style/mixins";

.mates-page-wrapper {
  width: 100%;
  position: relative;
  @media (min-width: 600px) {
    width: 585px;
  }
  @media (min-width: 615px) {
    width: 600px;
  }
}

.mates-type-container {
  display: flex;
  align-items: center;
  padding-top: 80px;
  margin: {
    left: 35px;
    bottom: 20px;
  }
  .type-text {
    color: color(black);
    font: {
      family: var(--font-text);
      size: 18px;
      weight: 600;
    }
    text-decoration: underline;
    margin-right: 5px;
  }
}

.mates-type-dropdown {
  width: 160px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid color(grey-line);
  background-color: color(white);
  position: absolute;
  z-index: 50;
  left: 32px;
  top: 110px;
  padding: 8px 0;

  .click-area {
    display: flex;
    align-items: center;
    height: 34px;
    p {
      margin: {
        left: 16px;
        right: 12px;
      }
      color: color(black);
      font: {
        family: var(--font-text);
        size: 14px;
      }
    }
  }
}

.mates-block-wrapper {
  width: 100%;
  min-height: calc(100svh - 230px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;

  .loading-container {
    width: 100%;
    height: calc(100vh - 360px);
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .empty {
    height: calc(100vh - 360px);
  }

  .page-last-item-ref-rect {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
