@import "../../../style/mixins";

.text-style {
  color: #000;
  font-family: var(--font-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  text-align: start;
  white-space: pre;
}

.translate-btn-text-style {
  color: #bcbcbc;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
  margin-top: 8px;
}

// 내가 보낸 메세지
.my-message-style {
  display: inline-block;
  max-width: 252px;
  padding: 16px;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background: #f3f3f3;
}

// 상대방 메세지
.partner-message-style {
  display: inline-block;
  max-width: 252px;
  padding: 16px;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  background: #fff8bd;
  margin-right: auto;
}

.message-section {
  margin: 16px 20px;
  display: flex;
  justify-content: end;

  .message-style {
    .message-text-p {
      max-width: 100%;
      white-space: pre-wrap !important;
      overflow-wrap: break-word;
    }

    position: relative;

    p {
      @extend .text-style;
    }

    #translate-box {
      margin-top: 8px;
      border-top: 1px solid #ddd;
      #tanslate-text {
        margin-top: 8px;
        @extend .text-style;
      }
    }

    #translate-btn-text {
      @extend .translate-btn-text-style;
    }

    .mySentTime {
      position: absolute;
      bottom: 4px;
      left: -38px;
    }

    .partnerSentTime {
      position: absolute;
      bottom: 4px;
      right: -38px;
    }

    .send-time {
      @include font-style(--font-text, 12px, var(--color-grey-text), 400);
    }
  }

  .my {
    @extend .my-message-style;
  }

  .partner {
    @extend .partner-message-style;
  }
}
