$main-yellow: var(--color-main-yellow);
@import "../../../../../style/mixins";

.personality-form-container {
  margin-top: 16px;
  width: 85%;

  .title {
    @include font-style(--font-title, 20px, var(--color-black), 500);
    text-align: start;
    width: 85%;
  }

  .form-container {
    margin-top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-container-flex {
    display: flex;
    margin-bottom: 40px;

    p {
      display: flex;
      justify-self: center;
      align-items: center;
      margin: 0 16px;
      @include font-style(--font-text, 16px, #aeaeae, 500);
    }
  }

  .btn-style {
    &:hover {
      cursor: pointer;
    }

    border: none;
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    @include font-style(--font-text, 18px, var(--color-black), 500);
    text-align: center;

    box-shadow: 0 0 0 1px #ddd; /* 외곽선 스타일 및 둥근 모서리 설정 */
    border-radius: 100px; /* 원하는 둥근 모서리 설정 */
  }

  #active {
    display: flex;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: $main-yellow;
    box-shadow: none;
  }
}
