@import "../../../style/mixins";

.comment-input-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 98px;

  background-color: color(white);
  border-top: 1px solid #efefef;

  @media (min-width: 600px) {
    width: 600px;
  }
}

.comment-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 38px);
  height: 40px;
  gap: 6px;
  margin-top: 16px;

  input {
    width: 100%;
    height: 100%;
    padding: 10px 21px 9px 21px;

    border-radius: 59px;
    border: 1px solid color(grey-line);
    background: #f3f3f3;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: color(grey-line);
      font-family: var(--font-text);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  img {
    width: 40px;
    height: 40px;

    cursor: pointer;
  }
}
