@import "../../../style/mixins";
.partner-head-style {
  z-index: 5000;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 56px !important;
  width: 100%;
  background-color: white;

  @include isPc() {
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }

  .left-items-container {
    position: absolute;
    left: 20px;
    top: 8px;

    .back-icon {
      &:hover {
        cursor: pointer;
      }

      width: 24px;
      height: 24px;
      margin-right: 12px;
    }

    .profile {
      &:hover {
        cursor: pointer;
      }
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  p {
    margin: 0 !important;
    color: black;
    text-align: center;
    font: {
      family: var(--font-text);
      size: 16px;
      weight: 600;
    }
  }
}
