@import "../../../style/mixins";

.section2-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 28px 0;

  .MuiInputBase-root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    .MuiInputBase-input {
      @include font-style(--font-text, 14px, color(black), 500);
      padding: 0;
      border: none;
      border-bottom: 1px solid #ddd;
      width: 110px;
      height: 30px;
      text-align: center;
    }
    .MuiOutlinedInput-notchedOutline {
      border: none;
    }
  }

  .MuiFormControl-root:first-child {
    margin-right: 12px;

    @include narrowMobile {
      margin-bottom: 12px;
    }
  }
}

.personality-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  .personality-btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid color(grey-line);
    @include font-style(--font-text, 14px, color(grey-text), 500);
    cursor: pointer;

    &.selected {
      background: color(main-yellow);
      border: 0;
      @include font-style(--font-text, 14px, color(black), 500);
    }
  }
}
