$black: var(--color-black);
$blue: var(--color-blue);

.profile-modify-page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.profile-nav-bar {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 18px 20px;
  justify-content: space-between;
  align-items: center;

  p {
    color: $black;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
  }
}

#blue-text {
  color: $blue;
}
