@function color($color-name) {
  @return var(--color-#{$color-name});
}

.kuddyspicktravelpreview-container {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top: 1px solid color(grey);
  margin-top: 20px;

  .travel-name {
    width: calc(100% - 50px);
    color: #333;
    line-height: 120%;
    font: {
      family: var(--font-text);
      size: 18px;
      weight: 600;
    }
    margin-top: 20px;
  }

  .description {
    width: calc(100% - 50px);
    color: #333;
    line-height: 150%;
    word-break: keep-all;
    text-align: left;
    font: {
      family: var(--font-text);
      size: 14px;
      weight: 500;
    }
    margin-top: 20px;
  }
}

.kuddyspicktravelpreview-swiper-wrapper {
  margin: {
    top: 20px;
    bottom: 20px;
  }

  .swiper-container {
    height: 240px !important;
  }

  .swiper-slide {
    width: 240px !important;
  }

  .swiper-rect {
    width: 240px;
    height: 240px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
