$black: var(--color-black);

.backnavbar-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 55px !important;
  width: 100%;

  #back {
    position: absolute;
    left: 28px;
    top: 18px;
  }

  #share {
    position: absolute;
    right: 28px;
    top: 18px;
  }

  #more {
    position: absolute;
    right: 28px;
    top: 18px;
  }

  p {
    margin: 0 !important;
    color: $black;
    text-align: center;
    font: {
      family: var(--font-text);
      size: 16px;
      weight: 600;
    }
  }
}
