@function color($color-name) {
  @return var(--color-#{$color-name});
}

.topbar-container {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: color(white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    margin-left: 22px;
  }

  &.fade-in {
    animation: show 0.8s;
    @keyframes show {
      from {
        opacity: 0;
        margin-top: -70px;
      }
      to {
        opacity: 1;
        margin-top: 0px;
      }
    }
  }
  &.fade-out {
    margin-top: -70px;
    animation: disappear 0.5s;
    @keyframes disappear {
      from {
        opacity: 1;
        margin-top: 0px;
      }
      to {
        opacity: 0;
        margin-top: -70px;
      }
    }
  }
}

.topbar-community {
  height: 120px;
  padding-bottom: 5px;
  flex-direction: column;

  .inner {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.fade-in-community {
    animation: show 0.8s;
    @keyframes show {
      from {
        margin-top: -70px;
      }
      to {
        margin-top: 0px;
      }
    }
  }
  &.fade-out-community {
    margin-top: -70px;
    animation: disappear 0.5s;
    @keyframes disappear {
      from {
        margin-top: 0px;
      }
      to {
        margin-top: -70px;
      }
    }
  }
}

.topbar-profile-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.topbar-title {
  font: {
    family: var(--font-title);
    size: 24px;
    weight: 600;
  }
  color: color(black);
}

.topbar-icon-container {
  width: 76px;
  height: 30px;
  margin-right: 24px;
  display: flex;
  justify-content: space-between;

  svg {
    width: 28px;
  }
}
