@mixin font-style($size, $color, $weight) {
  color: $color;
  font-family: var(--font-text);
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

.swal2-container {
  z-index: 9999999;
}

.pay-form-style {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;

  .form-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      width: 42px;
      @include font-style(16px, black, 500);
    }

    .cost-form {
      display: flex;
      justify-content: start;
      align-items: center;
      padding-left: 24px;

      margin-left: 20px;
      width: 90%;
      height: 40px;

      border-radius: 121px;
      border: 1px solid #ddd;
      background: #fff;

      @include font-style(16px, black, 500);

      input {
        width: 80%;
        border: none;
        background-color: transparent;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .receipt-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    width: 75%;
    margin-left: auto;

    hr {
      margin: 0;
      margin-bottom: 8px;
    }

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      .receipt-title {
        @include font-style(14px, var(--color-black), 400);
      }

      .cost {
        @include font-style(14px, var(--color-black), 400);
      }
      #total {
        @include font-style(14px, var(--color-black), 600);
      }
    }

    .fee-detail {
      text-align: start;
      margin-top: 12px;
      width: fit-content;
      @include font-style(14px, var(--color-grey-text), 400);
      border-bottom: 1px solid var(--color-grey-text);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.fee-detail-container {
  h5 {
    margin-top: 30px;
  }
  p {
    text-align: start;
    color: black;
    font-weight: 400;
  }
}
