.swiper-card-wrapper {
  width: 100%;
  height: 350px;
  @media (min-width: 600px) {
    width: 600px;
  }
  @media (max-width: 400px) {
    height: 85vw;
  }
  margin-top: 80px;
  position: relative;

  .loading-container {
    width: 100%;
    height: 270px;
    @media (max-width: 400px) {
      height: calc(85vw - 80px);
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-container {
    width: 100%;
    .swiper-slide {
      width: 350px !important;
      @media (max-width: 400px) {
        width: 85% !important;
      }
    }
  }

  .swiper-img-rect {
    width: 350px;
    @media (max-width: 400px) {
      width: 100% !important;
    }
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-img-gradient {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.8) 100%
      );
    }
  }

  .swiper-text-container {
    position: absolute;
    z-index: 20;
    left: 27px;
    bottom: 23px;
    width: 80%;
  }

  .swiper-text {
    color: #fff;
    line-height: 120%;
    font: {
      family: var(--font-title);
      size: 22px;
      weight: 500;
    }
    &.small {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}
