@import "../../../style/mixins";

p {
  margin-bottom: 0 !important ;
}

#kuddy-custom-dropdown {
  button {
    background-color: transparent;
    display: inline-flex;
    padding: 8px 20px;
    align-items: center;

    border-radius: 100px;
    border: 1px solid var(--grey, #eee);
    @include font-style(--font-text, 14px, #aeaeae, 500);

    svg {
      margin-left: 16px;
    }
    &::after {
      display: none;
    }
  }

  .active {
    color: black;
  }

  .dropdown-menu {
    margin-top: 8px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;

    #active-custom-item {
      margin-bottom: 8px;
      @include font-style(--font-text, 14px, var(--color-black), 700);
      display: flex;

      img {
        margin-left: 16px;
      }
    }

    #custom-item {
      margin-bottom: 8px;
      display: flex;

      @include font-style(--font-text, 14px, var(--color-black), 500);
    }
  }
}
