.pick-wrapper {
  width: 100%;
  min-height: calc(100svh - 200px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  .empty {
    height: calc(100svh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: color(grey-text);
    font: {
      family: var(--font-text);
      size: 14px;
      weight: 400;
      style: italic;
    }

    span {
      display: flex;
    }

    .link {
      text-decoration: underline;
    }
  }

  .inner-container {
    width: calc(100% - 44px);
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 100px;

    .loading-container {
      width: 100%;
      height: calc(100svh - 250px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
