@mixin text-style {
  color: #000;
  font-family: var(--font-text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
}

.place-form-style {
  margin-bottom: 24px;

  .default-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include text-style();
      width: 42px;
    }

    .form {
      margin-left: 20px;
      width: 90%;
      height: 40px;
      border-radius: 59px;
      border: 1px solid #ddd;
      background: #fff;
    }
  }
}
