@import "../../../style/mixins";

.MuiModal-root {
  z-index: 9999999999 !important;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 15px;
}

.place-form-style {
  margin-bottom: 24px;

  .default-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include font-style(--font-text, 16px, --color-black, 500);
      width: 42px;
    }

    .form {
      margin-left: 20px;
      width: 90%;
      height: 40px;
      border-radius: 59px;
      border: 1px solid #ddd;
      background: #fff;

      padding: 0 0 0 24px;
      @include font-style(--font-text, 16px, --color-black, 500);

      &:focus {
        outline: none;
      }
    }
  }
}
