.kuddyspickblock-container {
  position: relative;
  width: calc(100% - 50px);
  cursor: pointer;
}

.kuddyspickblock-img-rect {
  width: 100%;
  aspect-ratio: 34 / 24;
  @media (min-width: 442px) {
    height: 265px;
  }
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .kuddyspickblock-img-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 67.71%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
}

.kuddyspickblock-text-container {
  position: absolute;
  z-index: 20;
  left: 20px;
  bottom: 15px;
}

.kuddyspickblock-text {
  width: 80%;
  color: #fff;
  line-height: 120%;
  font: {
    family: var(--font-title);
    size: 22px;
    weight: 500;
  }
}
