@import "../../../style/mixins";

#meet-up-container {
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 28px 31px;
  }

  h2 {
    margin: 13px 0 0 31px;
    @include font-style(--font-text, 24px, black, 600);
  }

  .custom-event-btn-style {
    margin: 10px auto 0 auto;
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
  }

  .policy-container {
    display: flex;
    align-items: center;

    #checkbox {
      margin-right: 8px;
      transform: translateY(1px);
    }
    p {
      text-align: start;
      @include font-style(--font-text, 14px, black, 400);
    }

    #help {
      transform: translateY(2px);
      margin-left: auto;
      width: 80px;
      height: 40px;

      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .policy-detail-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 9999999;

    background-color: rgb(255, 255, 255);
  }
}
