@function color($color-name) {
  @return var(--color-#{$color-name});
}

.menu-container {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn-container {
  width: calc(100% - 42px);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
