.today-bar-style {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 70%;
  height: 17px;

  margin: 50px auto;

  hr {
    height: 5px;
    width: 40%;
  }

  p {
    color: var(--grey-line, #ddd);
    text-align: center;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
  }
}
