@import "../../../style/mixins";

.edit-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-title {
  margin-left: 31px;
  margin-bottom: 32px;
  align-self: flex-start;
  @include font-style(--font-text, 24px, black, 600);
}

.save-btn-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 0 35px;
  background-color: color(white);

  .save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 50px);
    height: 52px;
    padding: 14px 5px;
    border-radius: 10px;
    background: var(--main_yellow, #fff49b);
    @include font-style(--font-text, 18px, black, 600);
    text-align: center;
    cursor: pointer;
  }
}
