@import "../../../style/mixins";

.mates-block-container {
  width: calc(100% - 36px);
  padding: 16px 0;
  border-radius: 10px;
  border: 1px solid color(grey-line);
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  overflow: hidden;

  .profile-circle {
    width: 80px;
    aspect-ratio: 1 / 1;
    @media (max-width: 400px) {
      width: 20vw;
    }
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin: {
      left: 16px;
      right: 16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-section {
    width: 100%;
    .name-container {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .name {
        color: color(black);
        font: {
          family: var(--font-text);
          size: 16px;
          weight: 600;
        }
        @media (max-width: 400px) {
          font-size: 4vw;
        }
      }

      .circle {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 7px;
        background-color: color(grey);
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }

    .introduce {
      color: color(black);
      font: {
        family: var(--font-text);
        size: 13px;
        weight: 400;
      }
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      @media (max-width: 400px) {
        font-size: 3.3vw;
      }
    }

    .interests-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      width: calc(100% - 8px);
      height: 28px;
      overflow: hidden;

      .interests {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 16px;
        margin-right: 4px;
        border-radius: 100px;
        background-color: color(light-grey);
        color: color(black);
        font: {
          family: var(--font-text);
          size: 12px;
          weight: 500;
        }
        @media (max-width: 400px) {
          font-size: 3vw;
        }

        &.slicing {
          color: transparent;
          background-color: transparent;
        }
      }
    }
  }
}
