@import "../../../style/mixins";

.MuiDialog-root {
  z-index: 9999999999 !important;
}
// 날짜
.MuiPaper-root {
  .MuiDialogContent-root {
    .MuiPickersLayout-root {
      .MuiDialogActions-root {
        .MuiButtonBase-root {
          color: black;
        }
      }
      .MuiPickersLayout-contentWrapper {
        .MuiDateCalendar-root {
          .MuiDayCalendar-monthContainer {
            .Mui-selected {
              color: black;
              background-color: #fff49b;
            }
          }
        }
      }
    }
  }
}

// 시간
.MuiPaper-root {
  .MuiDialogContent-root {
    .MuiPickersLayout-root {
      .MuiPickersLayout-contentWrapper {
        .MuiTimeClock-root {
          .MuiClock-clock {
            background: #f8f8f8;

            .Mui-selected {
              color: black;
            }
          }
          .MuiClock-root {
            .MuiClock-pin {
              background-color: #fff49b;
            }
            .MuiClockPointer-root {
              background-color: #fff49b;

              .MuiClockPointer-thumb {
                border: 15px solid #fff49b;
                background-color: #fff49b;
              }
            }
          }
        }
      }
    }
  }
}

.time-form-style {
  margin-bottom: 24px;
  display: flex;
  align-items: center;

  @include narrowMobile {
    align-items: start;
  }

  .title {
    margin-right: auto;
    @include font-style(--font-text, 16px, black, 500);
    width: 42px;
  }

  .forms-container {
    width: 100%;
    margin-left: 20px;
    display: flex;
    @include narrowMobile {
      flex-direction: column;
    }
  }

  .MuiFormControl-root {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 121px;
    width: 100%;
    height: 40px;
    background: white;
    outline: 1px solid #ddd;
    padding: 11px 15px;

    .MuiInputBase-root {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      .MuiInputBase-input {
        width: 90px;

        @include font-style(--font-text, 14px, #b1b1b1, 500);

        padding: 0;
        text-align: center;
      }
      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
    }
  }

  .active-text {
    .MuiInputBase-root {
      .MuiInputBase-input {
        color: black;
      }
    }
  }

  .MuiFormControl-root:first-child {
    margin-right: 12px;

    @include narrowMobile {
      margin-bottom: 12px;
    }
  }
}
