text-style {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px; /* 121.429% */
}

.system-message-style {
  @extend text-style;

  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;

  width: fit-content;
  margin: 16px auto;
  padding: 8px 16px;

  border-radius: 100px;
}

.yellow {
  background: #fff49b;
}
.red {
  background: #ffc6c6;
}
.blue {
  background: #cee8ff;
}
