@mixin font-style($font, $size, $color, $weight) {
  color: $color;
  font-family: var($font);
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin narrowMobile {
  @media screen and (max-width: 370px) {
    @content;
  }
}

$colors-kuddy: (
  main-yellow: #fff798,
  light-yellow: #fffbca,
  grey: #eeeeee,
  light-grey: #f7f7f7,
  grey-line: #dddddd,
  grey-text: #b1b1b1,
  blue: #54a3ff,
  light-blue: #cee8ff,
  touch: #d1f9ff,
  red: #ff3333,
  light-red: #ffc6c6,
  white: #ffffff,
  black: #31302a,
);

@function color($color-name) {
  $color-value: map-get($colors-kuddy, $color-name);
  @return $color-value;
}
