// 예시 코드
.box {
  $color: royalblue; // 변수 활용
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  background-color: $color; // royalblue
  &:hover {
    background-color: darken($color, 10%);
  }
  &.built-in {
    background-color: invert($color); // royalblue
  }
}
