@import ".././../../style/mixins";

@mixin p-common-style {
  @include font-style(--font-text, 14px, var(--color-black), 400);
  line-height: 17px;
}

.delete-account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 102px);

  .guide-text-container {
    margin-top: 32px;
    width: 85%;
    flex-grow: 1;

    h2 {
      @include font-style(--font-title, 20px, var(--color-black), 400);
      line-height: 17px;
    }

    p {
      margin-top: 20px;
      text-align: start;
      @include p-common-style;
    }
  }

  .agreement-container {
    display: flex;
    width: 85%;
    margin-bottom: 24px;

    svg {
      width: 20px;
      height: 20px;
    }

    p {
      margin-left: 8px;
      text-align: start;
      @include p-common-style;
    }
  }

  .custom-event-btn-style {
    position: absolute;
    bottom: 50px;

    @include isPc() {
      width: 500px;
    }
  }
}
