@import "../../../style/mixins";

.comment-else {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.nav-bar-else {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.more-menu-container {
  z-index: 200;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  width: 100vh;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);

  @media (min-width: 600px) {
    width: 600px;
  }
}

.more-menu {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);

  display: inline-flex;
  width: 100vw;
  padding: 30px 20px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;

  border-radius: 10px 10px 0 0;
  background: color(white);

  @media (min-width: 600px) {
    width: 600px;
  }
}

.menu-click-area {
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  p {
    @include font-style(--font-text, 16px, color(black), 600);
  }
}
