@import "../../../style/mixins";

.location-map-page-wrapper {
  position: relative;
  width: 100%;
  @media (min-width: 600px) {
    width: 585px;
  }
  @media (min-width: 615px) {
    width: 600px;
  }
}

.loading-container {
  position: absolute;
  z-index: 500;
  top: 55px;
  width: 100%;
  height: calc(100svh - 55px);
  background-color: color(white);
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: calc(100svh - 55px);
}
