.edit-btn-form-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;

  input,
  textarea {
    width: calc(100% - 100px);
    border: none;
    resize: none;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  .vertical-container {
    display: flex;
    width: calc(100% - 100px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    &.narrow {
      gap: 12px;
    }
  }
}

.profile-subtitle {
  width: 80px;
  color: var(--color-black);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.profile-content {
  width: 100%;
  color: var(--color-black);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: pre-wrap;

  &.grey {
    color: #777;
  }
}
