$main-yellow: var(--color-main-yellow);
@import "../../../../../style/mixins";

.nationality-form-container {
  margin-top: 16px;
  width: 85%;

  .title {
    @include font-style(--font-title, 20px, var(--color-black), 500);
    text-align: start;
    width: 85%;
  }

  .form-container {
    display: flex;

    margin-top: 180px;
    width: 100%;
    display: flex;

    p {
      @include font-style(--font-text, 16px, #aeaeae, 500);
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: start;
      margin-right: 40px;
    }

    input {
      border: none;
      border-bottom: 1px solid #ddd;
      width: 80%;
      height: 34px;
      @include font-style(--font-text, 16px, var(--color-black), 500);
      &:focus {
        outline: none;
      }
      &::placeholder {
        @include font-style(--font-text, 16px, var(--color-grey-text), 500);
      }
    }
  }
}
