$main-yellow: var(--color-main-yellow);
@import "../../../../../style/mixins";

.nationality-form-container {
  margin-top: 16px;
  width: 85%;

  .title {
    @include font-style(--font-title, 20px, var(--color-black), 500);
    text-align: start;
    width: 85%;
  }

  .form-container {
    margin-top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
