.placeholder-style {
  color: var(--grey-line, #ddd);
  font-family: var(--font-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-text-style {
  color: #000;
  font-family: var(--font-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px; /* 121.429% */
}

.message-input-style {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 98px;
  background-color: white;
  display: flex;
  border-top: 1px solid #dddddd;
  padding: 12px 24px;

  .make-meetup-btn {
    min-width: 40px;
    min-height: 40px;
    margin-right: 8px;
  }

  .input-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 59px;
    border: 1px solid #ddd;

    height: 40px;
    width: 100%;

    padding: 11px 19px 11px 26px;

    input {
      border: none;
      width: 90%;
      @extend .input-text-style;

      &:focus {
        outline: none;
      }
      &::placeholder {
        @extend .placeholder-style;
      }
    }
  }
}
