@import "../../../style/mixins";

.placeholder-style {
  @include font-style(--font-text, 14px, #ddd, 500);
}

.input-text-style {
  @include font-style(--font-text, 14px, var(--color-black), 400);
  line-height: 17px;
}

.message-input-style {
  position: fixed;
  bottom: 0;
  width: 100%;

  @include isPc() {
    width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }

  height: auto;
  background-color: white;
  display: flex;
  border-top: 1px solid #dddddd;
  padding: 12px 11px;

  .make-meetup-btn-container {
    &:hover {
      cursor: pointer;
    }

    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .make-meetup-btn {
      min-width: 40px;
      min-height: 40px;
      margin-right: 8px;
    }
  }

  .input-box {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid #ddd;

    min-height: 40px;
    height: auto;

    width: 100%;

    padding: 2px 4px 2px 26px;
    border-radius: 59px;
    textarea {
      resize: none;
      border: none;
      width: 90%;
      @extend .input-text-style;

      &:focus {
        outline: none;
      }
      &::placeholder {
        @extend .placeholder-style;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .send-icon-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &:hover {
        cursor: pointer;
      }
    }
  }

  #radius {
    border-radius: 20px;
  }
}
