$grey: var(--color-grey);
$main-yellow: var(--color-main-yellow);

.login-form-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
}

.btns-contrainer {
  //  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 85%;
  justify-self: end;
  margin-top: auto;
  margin-bottom: 37px;

  .previous-icon {
    margin-right: 16px;
  }
  .next-icon {
    margin-left: 16px;
    margin-top: 2px;
  }

  p {
    color: #000;
    text-align: center;
    line-height: 24px;
    font: {
      family: var(--font-text);
      size: 16px;
      weight: 500;
    }
  }

  .previous {
    display: inline-flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: $grey;
  }

  .next {
    display: inline-flex;
    height: 40px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: $main-yellow;

    margin-left: auto;
  }
}
