$grey: var(--color-grey);
$main-yellow: var(--color-main-yellow);

@import "../../../style//mixins";

@mixin next-style() {
  display: inline-flex;
  height: 40px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: auto;
}

.login-form-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;

  .btns-contrainer {
    position: fixed;
    bottom: 0;
    left: 0;

    @include isPc() {
      width: 600px;
      left: 50%;
      transform: translateX(-50%);
    }

    background-color: var(--color-white);

    width: 100%;
    padding: 10px 24px 42px 24px;

    display: flex;
    justify-content: space-between;
    justify-self: end;

    margin-top: auto;

    .previous-icon {
      margin-right: 16px;
    }
    .next-icon {
      margin-left: 16px;
      margin-top: 2px;
    }

    p {
      color: #000;
      text-align: center;
      line-height: 24px;
      font: {
        family: var(--font-text);
        size: 16px;
        weight: 500;
      }
    }

    .previous {
      &:hover {
        cursor: pointer;
      }
      display: inline-flex;
      height: 40px;
      padding: 0px 20px;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      background: $grey;
    }

    .active-next {
      &:hover {
        cursor: pointer;
      }
      @include next-style();
      background: $main-yellow;
      border: 1px solid var(--color-grey-line);
    }

    .next {
      @include next-style();
      background: white;
      border: 1px solid var(--color-grey-line);
      p {
        color: var(--color-grey-text);
      }
    }
  }
}
