@import "../../../style/mixins";

.review-section-container {
  width: calc(100% - 20px);
  height: 220px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 34px;

  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.review-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 7px 15px;
  gap: 2px;
  margin-right: 8px;

  border-radius: 20px;
  background: color(light-grey);

  color: #31302a;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  .meet-title {
    width: 140px;
    font-size: 28px;
    &.kuddy {
      font-size: 32px;
    }
  }

  .meet-count-text {
    width: 140px;
    font-size: 45px;
    &.kuddy {
      font-size: 65px;
    }
  }

  .review-title {
    width: 140px;
    align-self: flex-end;
    text-align: right;
    font-size: 22px;
  }

  .review-count-text {
    width: 140px;
    align-self: flex-end;
    text-align: right;
    font-size: 45px;
  }
}
