@import "../../../style/mixins";

.grade-bar-container {
  width: calc(100% - 52px);
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 12px;

  .grade-container {
    display: inline-flex;
    width: 100%;
    align-items: center;
    gap: 6px;

    .grade {
      display: flex;
      width: 112px;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      border-radius: 100px;
      background-color: #f3f3f3;
      @include font-style(--font-text, 12px, color(black), 500);

      &.perfect {
        background-color: color(main-yellow);
      }
    }

    .progress-bar {
      width: 100%;
    }

    .percent {
      width: 45px;
      flex-shrink: 0;
      @include font-style(--font-text, 12px, color(black), 600);
    }
  }
}
