@import "../../../style/mixins";

.review-content-container {
  display: flex;
  width: 50%;
  height: 220px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 14px 15px;
  gap: 8px;

  border-radius: 20px;
  border: 1px solid color(grey);

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
  }

  &.kuddy {
    justify-content: flex-start;
    align-items: center;

    img {
      width: 52px;
      height: 52px;
    }
  }
}

.review-profile-traveler {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  .review-profile-inner-traveler {
    display: flex;
    width: 92px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
}

.review-grade-kuddy {
  display: flex;
  width: 140px;

  justify-content: space-between;
  align-items: center;

  .review-grade-box {
    display: flex;
    height: 22px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    background: color(main-yellow);

    @include font-style(--font-text, 12px, color(black), 600);
  }
}

.review-content-text {
  width: 100%;

  @include font-style(--font-text, 12px, color(black), 400);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  &.kuddy {
    -webkit-line-clamp: 5;
  }
  &.traveler {
    -webkit-line-clamp: 9;
  }
}

.review-nickname-text {
  width: 100%;
  @include font-style(--font-text, 12px, color(black), 400);

  &.kuddy {
    text-align: center;
  }
  &.traveler {
    text-align: right;
  }
}

.review-date-text {
  @include font-style(--font-text, 10px, #666, 500);
}
