@mixin font-style($color, $weight) {
  color: $color;
  font-family: var(--font-text);
  font-size: 14px;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin bold-text {
  @include font-style(black, 600);
}

@mixin light-text {
  @include font-style(black, 400);
}

@mixin grey-light-text {
  @include font-style(#aeaeae, 400);
}

.search-result-place-item {
  display: flex;
  align-items: start;
  width: 100%;

  margin-top: 8px;
  margin-bottom: 4px;

  .result-img {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;

    border-radius: 5px;
    background: #d9d9d9;

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // 찌그러지지 않고 영역에 맞게 크롭
      object-position: center center; // 가운데 정렬
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .result-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 16px;

    .place-name {
      text-align: start;
      @include light-text();

      span {
        @include bold-text();
      }
    }

    .place-gu {
      margin-top: 8px;
      @include grey-light-text();
    }
  }

  .select-btn {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 32px;
    padding: 6px 9px;
    border-radius: 25px;
    background: #eee;
  }
}
