@mixin font-style($color, $weight) {
  color: $color;
  font-family: var(--font-text);
  font-size: 14px;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

@mixin bold-text {
  @include font-style(black, 600);
}

@mixin light-text {
  @include font-style(black, 400);
}

@mixin grey-light-text {
  @include font-style(#aeaeae, 400);
}

.search-result-place-item {
  display: flex;
  align-items: center;
  width: 100%;

  margin-top: 8px;
  margin-bottom: 4px;

  .result-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: #d9d9d9;
  }

  .result-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 16px;

    .place-name {
      @include light-text();

      span {
        @include bold-text();
      }
    }

    .place-gu {
      margin-top: 8px;
      @include grey-light-text();
    }
  }

  .select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 32px;
    padding: 6px 9px;
    border-radius: 25px;
    background: #eee;
  }
}
